html {
    height: 100%;
    /* background-color: #fdffbc; */
}

body {
    margin: 0px;
    text-align: center;
    color: #40514E;
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.6875rem;
    font-family: 'DM Serif Display', serif;
    margin-top: 50px auto 0 auto;
}

h2  {
    color: #66BFBF;
    font-family: 'DM Serif Display', serif;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'DM Serif Display', serif;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
}

hr {
    border-top: 6px dotted #EAF6F6;
    width: 4%;
    margin: 100px auto;
}

.h2-normal {
    font-weight: normal;
}

.top-container {
    background-color: #d6efc7;
    padding-top: 100px;
}

.middle-container {
    margin: 100px 0;
}

/* .profile {
    width: 50%;
    margin: 100px auto;
} */

.profile-img {
    border-radius: 100%;
    width: 15%;
}

.skill-row {
    margin: 100px auto;
    text-align: left;
    width: 50%;
}

.dev-img{
    border-radius: 100%;
    float: left;
    margin-right: 30px;
    width: 25%; 
}

.drum-img {
    border-radius: 100%;
    float: right;
    margin-left: 30px;
    width: 25%;  
}

.bottom-container {

}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}

.bottom-cloud {
    position: absolute;
    top: 300px;
    left: 300px;
}

.bottom-container {
    height: 120px;
    background-color: #66BFBF;
    margin-top: 70px;
    padding: 50px 0 20px;
    /* position: relative; */
}

.contact-message {
    width: 30%;
    margin: auto;
}

.btn {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #119999);
    background-image: -moz-linear-gradient(top, #66BFBF, #119999);
    background-image: -ms-linear-gradient(top, #66BFBF, #119999);
    background-image: -o-linear-gradient(top, #66BFBF, #119999);
    background-image: -webkit-gradient(to bottom, #66BFBF, #119999);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 100;
    padding: 11px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 1px 1px 5px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-top: 25px;
 }
 
 .btn:hover {
    border: solid #66BFBF 1px;
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
    background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
    background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
    background-image: -o-linear-gradient(top, #11999E, #66BFBF);
    background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
 }

 .footer-link {
     text-decoration: none;
     color: #11999E;
     margin: 10px 20px;
    font-family: 'Roboto', sans-serif;
 }

 .footer-link:hover {
     color: #eaf6f6;
 }

 .copyright {
     color: #EAF6F6;
     font-size: 0.75rem;
     padding: 20px 0px;
 }

 .intro {
     width: 30%;
     margin: auto
 }

